<div id="<?$_name?>">
<table width='100%' class='table'>
	<tbody class='table-striped'>
		<tr>
			<th align="left">Sno</th>
			<th align="left">Product</th>
			<th align="right" class="text-right">Qty</th>
			<th align="right" class="text-right">Rate</th>
			<th align="right" class="text-right">Unit</th>
			<th align="right" class="text-right">Amount</th>
		</tr>
	<?rows?>
	<?row?>
		<tr>
			<td align="left"><?$sno?></td>
			<td align="left"><?$product?></td>
			<td align="right"><?$qty?></td>
			<td align="right"><?$rate?></td>
			<td align="right"><?$unit?></td>
			<td align="right"><?$amount?></td>
		</tr>
		<?/row?>
	<?/rows?>
		<tr>
			<td>&nbsp;</td>
			<th>Total</th>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td class=''><b>&#8377;</b> <?$gross_amount?></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<th>Ponts ReDeemed</th>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td><b>&#8377;</b> <?$points_redeemed?></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<th>Discount Voucher Amount</th>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td class=''><b>&#8377;</b> <?$discount_voucher_amount?></td>
		</tr>		
		<tr>
			<td>&nbsp;</td>
			<th>Net Amount</th>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td class=''><b>&#8377;</b> <?$net_amount?></td>
		</tr>

	</tbody>
</table>

</div>